<!-- Acknowledgements Section -->
<section id="thanks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Acknowledgments</h2>
                <h3 class="section-subheading text-muted">Thank you !</h3>
            </div>
        </div>
        <div class="row">
            <p class="text-center" style="text-align:justify;">This research has been conducted as part of the <a href="{{ site.ada }}">CS-401-Applied Data Analysis</a> course,  
                thaught by <a href="{{ site.bob }}">Robert West</a>, 
                head of the  <a href="{{ site.dlab }}">dlab</a> 
                at <a href="{{ site.epfl }}">École Polytechnique Fédérale de Lausanne</a>.
            </p>
            <p class="text-center" style="text-align:justify;">The dataset of movie plot summaries and associated metadata has been downloaded from the <a href="{{ site.corpus }}">CMU Movie Summary Corpus</a>, 
                collected and provided by by David Bamman, Brendan O'Connor, and Noah Smith at the Language Technologies Institute and Machine Learning Department at Carnegie Mellon University. 
                Original paper : <cite><a href="{{ site.paper }}">Learning Latent Personas of Film Characters</a>. David Bamman, Brendan O'Connor, and Noah A. Smith. ACL 2013, Sofia, Bulgaria, August 2013</cite>
            </p>
        </div>
    </div>
</section>
