<!-- text-container -->
<section id="analysis">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Analysis</h2>
      <h3 class="section-subheading text-muted">Plots and observations</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-muted text-center" style="font-style:italic;margin-bottom:5px;">Ratio of number of movies belonging to an event to total number movies for each year</p>
      <p class="text-self" style="margin-bottom:75px;">analysis</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-muted text-center" style="font-style:italic;margin-bottom:5px;">Matrix of cosine distance between lexical fields of events</p>
      <p class="text-self" style="margin-bottom:75px;">analysis</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-muted text-center" style="font-style:italic;margin-bottom:5px;">Principal Component Analysis</p>
      <iframe class="figure img-responsive" src="../3DPCA.html" title="3D PCA"></iframe>  
      <p class="text-self" style="margin-bottom:75px;">analysis</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-muted text-center" style="font-style:italic;margin-bottom:5px;">LDA topic modeling</p>
      <p class="text-self" style="margin-bottom:75px;">analysis</p>
    </div>
  </div>
</section>
<!-- /text-container -->
