 <!-- Portfolio Modals -->
{% assign posts_sorted = site.posts | sort: 'modal-id' %}
{% for post in posts_sorted%}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <!-- 600x450 pixels-->
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            
                            <p class="text-self">{{ post.description }}</p>
                            
                            <p class="text-left">Id used in plots of <cite style="font-style:italic;">Analysis</cite> section : {{ post.ID }}</p>
                            <p class="text-left">Number of movies classified as such : {{ post.count-movies }}</p>
                            <p class="text-left">Mean Box-office revenue (million dollars) : {{ post.box-office }}</p>
                            <p class="text-left">Main genres : {{ post.genres }}</p>
                            <!--<p class="text-left">Mean sentiment (0:most negative,5:most positive) : {{ post.stars }} /5</p>-->
                            <p class="text-left" style ="margin-left:3em;text-indent:-3em;text-align:justify;">Words used in dictionnary for movie classification : {{ post.dictionnary }}</p>
                            
                            <p class="text-center" style="margin-bottom:5px;">Wordcloud :</p>
                            <p class="text-muted text-center" style="font-style:italic;margin-bottom:5px;">lexical field contained in the summaries</p>
                            <!-- 600x450 pixels-->
                            <img class="img-responsive img-centered" src="img/wordcloud/{{ post.wordcloud }}" alt="{{ post.wordcloud-alt }}">
                            <p class="text-self">{{ post.analysis }}</p>

                            <p class="text-center" style="margin-bottom:5px;">Most representative movie :</p>
                            <p class="text-muted text-center" style="font-style:italic;margin-bottom:5px;">{{ post.movie-name }} ({{ post.movie-year }})</p>                            
                            
                            <div onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
                                <img style="width:250px;height:300px;cursor:pointer;margin-bottom:3px;" src="img/posters/{{ post.movie-poster }}" />
                                <p class="text-center" style="font-size:x-small;">(click for an easter egg)</p>
                            </div>
                            <div style="display:none">
                                {% if post.movie-trailer == "error.png" %}
                                    <img style="width:400px;height:225px;cursor:pointer" src="img/{{ post.movie-trailer }}" />
                                    {% else %}
                                        <iframe style="width:400px;height:225px;border:none" src="{{ post.movie-trailer }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;fullscreen"></iframe>
                                {% endif %}
                            </div>

                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="{{ site.dlab }}">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="{{ site.ada }}">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
