<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dataset</h2>
                    <h3 class="section-subheading text-muted">Our dataset in numbers</h3>
                </div>
            </div>
            <p class="text-self">Describe from where comes the dataset(corpus) and in which context we chose it.</p>
            <p class="text-self">Let's now dive into it</p>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Movies</h4>
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            81'741   
                        </strong>
                    </span>
                    <p class="text-dataset">Is the number of movies in our dataset. They were released between 1888 and 2016 where the median is 1985. Silent film predominated between 1903 and 1923 before being replaced by black and white movies in 1933.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            129   
                        </strong>
                    </span>
                    <h4 class="service-heading">Years</h4>
                    <p class="text-dataset">Movies were produced for 129 years from 1888 to 2016</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            210   
                        </strong>
                    </span>
                    <h4 class="service-heading">Languages</h4>
                    <p class="text-dataset">Languages are present in our dataset representing cinema diversity. 46.7% of movies are in English.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            146   
                        </strong>
                    </span>
                    <h4 class="service-heading">Countries</h4>
                    <p class="text-dataset">Is the number of countries that made a movie. United State is the most represented.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            4.79
                        </strong>
                    </span>
                    <h4 class="service-heading">Box office</h4>
                    <p class="text-dataset">million dollars is the mean box office revenue. This number vary between 10’000 and 2.78 milliards during time and depending on the movie genre.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            134'078   
                        </strong>
                    </span>
                    <h4 class="service-heading">Actors</h4>
                    <p class="text-dataset">different actor are present in our dataset. The mean age of actor at movie release is 37 years.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            430
                        </strong>
                    </span>
                    <h4 class="service-heading">Ethnicities</h4>
                    <p class="text-dataset">430 ethnicities are represented over all actors. Most represented are Indians and African Americans</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            94.2
                        </strong>
                    </span>
                    <h4 class="service-heading">Minutes</h4>
                    <p class="text-dataset">The mean runtime over all movies is 94.2 minutes.</p>
                </div>
            </div>
        </div>
    </section>