<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dataset</h2>
                    <h3 class="section-subheading text-muted">Our dataset in numbers</h3>
                </div>
            </div>
            <p class="text-self">Describe from where comes the dataset and in which context we chose it.</p>
            <p class="text-self">Let's now dive into it</p>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            81'741   
                        </strong>
                    </span>
                    <h4 class="service-heading">Movies</h4>
                    <p class="text-dataset">Our dataset contains 81'741 movies. They were released between 1888 and 2016 where the median is 1985. Silent film predominated between 1903 and 1923 before being replaced by black and white movies in 1933.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            210   
                        </strong>
                    </span>
                    <h4 class="service-heading">Languages</h4>
                    <p class="text-dataset">Most of the movies are translated in multiple languages. 
                        Overall this represents 210 languages, illustrating cinema diversity. 
                        English is the most represented with 46.7% of movies available in this language.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            146   
                        </strong>
                    </span>
                    <h4 class="service-heading">Countries</h4>
                    <p class="text-dataset">Multiple countries produce movies and sometimes a few of them are jointly involved in the process. 
                        Here, 146 countries are represented, with the United States being on top of the table.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            4.79 MM
                        </strong>
                    </span>
                    <h4 class="service-heading">Box office</h4>
                    <p class="text-dataset">The mean box office revenue is about 4.79 million dollars. 
                        In fact, this number vary between 10 thousands and 2.78 billion across all movies and principally depend on the release year and the movie genre.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            134'078   
                        </strong>
                    </span>
                    <h4 class="service-heading">Actors</h4>
                    <p class="text-dataset"> 134'078 actors, women and men, are registered in our dataset.
                        This number include 430 ethnicities, Indians and African Americans being the most represented. 
                        Also, the mean age of actor at movie release is 37 years.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            94.2 min
                        </strong>
                    </span>
                    <h4 class="service-heading">Runtime</h4>
                    <p class="text-dataset">Movies can differ a lot in their runtime, depending on the release year and the movie genre, as for the box office revenue. 
                        In our dataset, the mean is about 94.2 minutes.</p>
                </div>
            </div>
        </div>
    </section>