<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dataset</h2>
                    <h3 class="section-subheading text-muted">Our dataset in numbers</h3>
                </div>
            </div>
            <p class="text-self">Describe from where comes the dataset(corpus) and in which context we chose it.</p>
            <p class="text-self">Let's now dive into it</p>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            xxx'xxx   
                        </strong>
                    </span>
                    <h4 class="service-heading">Movies</h4>
                    <p class="text-muted">We retrieved xxx'xxx movies overall, oldest produced in xxxx and newest in xxxx. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            xxx   
                        </strong>
                    </span>
                    <h4 class="service-heading">Languages</h4>
                    <p class="text-muted">xxx Languages are represented. Most represented is english.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            xxx   
                        </strong>
                    </span>
                    <h4 class="service-heading">Countries</h4>
                    <p class="text-muted">xxx countries have been involded in the making of these movies. Most represented is the US.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <strong class="fa-stack-1x fa-inverse" style="font-size:40%;">
                            xxx'xxx   
                        </strong>
                    </span>
                    <h4 class="service-heading">Dollars</h4>
                    <p class="text-muted">The mean box-office revenue is xxx'xxx but it vary a lot through years and genres. Minimum and maximum are xxx and xxx respectively.</p>
                </div>
            </div>
        </div>
    </section>